.cityName {
  display: inline-block;
  font-size: 50px;
  width: 100%;
}

.cityNextTempContainer {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
}

.cityNextTempContainer .Row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cityWeather {
  padding-top: 16px;
  margin-left: 25px;
}

.currentCityContainer .Row {
  display: grid;
  gap: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.currentTime,
.weatherDescription {
  font-size: 20px;
}

.currentTemp {
  font-size: 100px;
}

.currentWeatherDetails {
  font-size: 20px;
  margin-top: 8px;
  padding-top: 80px;
}

.currentWeatherIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Days {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
  text-align: center;
}

.Days p {
  margin: 0;
  padding-top: 10px;
}

.daysWeekday {
  font-size: 20px;
  font-weight: 800;
}

.forecastMax {
  font-size: 22px;
  font-weight: 800;
}

.forecastMin {
  font-size: 20px;
}

.inputCity {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
  max-width: 80%;
  margin-left: 20px;
  padding-left: 10px;
}

.weatherTemperature .linkActive {
  cursor: default;
  color: black;
}

.locationButton img {
  width: 19px;
}

.locationButton,
.searchButton {
  background: #91d4f9;
  border: 2px solid #91d4f9;
  border-radius: 15px;
  box-shadow: 0 0 18px rgb(0, 0, 0, 0.2);
  color: black;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  margin: 1px 0 0 8px;
  padding: 5px 8px;
  transition: all 200ms ease-in-out;
}

.searchButton:hover {
  color: black;
  background: white;
}

.searchContainer {
  background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
  border-radius: 22px;
  box-shadow: 0 0 18px rgb(0, 0, 0, 0.2);
  display: grid;
  height: 48px;
  margin-bottom: 8px;
  padding: 10px;
}

.Units {
  font-size: 20px;
  position: relative;
  top: -50px;
}

.Units a {
  text-decoration: none;
}

.App {
  margin: 60px auto;
  max-width: 800px;
}

.weatherContentContainer {
  background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
  border-radius: 18px;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 16px;
}

.weatherDescription {
  text-transform: capitalize;
}

.linkedIn a {
  text-decoration: none;
}

body {
  background: white;
  padding: 100px;
}

li {
  list-style: none;
}